<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tranquil - Talk & Feel Better</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" type="image/x-icon" href="/Images/favicon.ico">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
</head>
<style>
    .animated-text {
      animation: bounceX 1s infinite alternate, bounceY 1s infinite;
  }
  
  @keyframes bounceX {
      0%, 100% {
          transform: translateX(0);
      }
      50% {
          transform: translateX(20px);
      }
  }
  
  @keyframes bounceY {
      0%, 100% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-20px);
      }
  }
  
  </style>
<body>

<section class="h-300 gradient-form gradient">
    <%- include('../partials/flash')%>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100" >
            <div class="col-xl-10">
                <div class="card rounded-3 logincard text-black animate_animated animate_backInLeft" data-aos="flip-left">
                    <div class="row g-0">
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4" >
                                <div class="logo-div"><img src="/Images/logo.png" style="width: 185px; margin-left:2rem" alt="logo"></div>
                                <h4 class="mb-4 white text-center animated-text">Hey there👋</h4>
                                <h4 class="mb-4 white text-center">Welcome to Tranquil !</h4>
                                <p class="large mb-0 white">Tranquil is an Anonymous, Safe, and Effortless Go-To Feel Better platform that smartly connects you to the right peers and counselors to talk to & feel better.</p>
                                <br>
                                <p class="large mb-0 white">Our mission is to spread over a million smile and make the world happier and healthier.</p>
                            </div>
                        </div>
                        <div class="col-lg-6" style="background-color: 	whitesmoke;">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    
                                    <h4 class="mt-1 mb-5 pb-1" id="sign-in">Expert Login</h4>
                                </div>

                               
                               <form action="/expert/expertlogin" method="post" novalidate class="validated-form">

                                <p class='information' style="text-align:center;">Please login to your account<br></p>
                                 
                            
                                <!-- <div class="form-group mb-5">
                                    <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Email" required>
                                    <div class="valid-feedback mb-2">
                                        Email Looks Good
                                    </div>
                                </div> -->

                                <div class="form-group mb-5">
                                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                                    <div class="valid-feedback mb-2">
                                        Email Looks Good
                                    </div>
                                    <div class="invalid-feedback">
                                        Please enter a valid email address.
                                    </div>
                                </div>

                                <!-- <div class="form-group mb-5">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                                    <div class="valid-feedback mb-2">
                                        Password Looks Good
                                    </div>
                                </div> -->


                                <div class="form-group mb-5">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{5,}$">
                                    <div class="valid-feedback mb-2">
                                        Password Looks Good
                                    </div>
                                    <div class="invalid-feedback">
                                        Password should contain at least 5 characters,atleast 1 lower,digit,upper,special character.
                                    </div>
                                </div>

                                <div class="text-center pt-1 mb-5 pb-1">
                                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 loginsubmit" type="submit">Login</button>
                                </div>
                            </form>
                            <form action="/expert/newtherapists" method="get">
                                <div class="d-flex align-items-center justify-content-center pb-4">
                                    <p class="mb-0 me-2">New to Tranquil?</p>
                                    <button type="submit" class="btn btn-outline-danger registerbutton">Apply</button>
                                </div>

                            </form>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validated-form')

  // Loop over them and prevent submission
  //Array.prototype.slice.call(forms)
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
const forms = document.querySelectorAll('.validated-form')

// Loop over them and prevent submission
//Array.prototype.slice.call(forms)
Array.from(forms)
.forEach(function (form) {
  form.addEventListener('submit', function (event) {
    if (!form.checkValidity()) {
      event.preventDefault()
      event.stopPropagation()
    }

    form.classList.add('was-validated')
  }, false)
})
})
</script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>AOS.init();</script>
</body>
</html>