
<header>
    <a href="home.ejs"><img src="/Images/logo.png" class="logo1" alt="logo"></a>   
    
    <div>
        <ul id="nav">
                <li><a class="" href="/logoutprofile">Logout</a></li>  
         </ul>
    </div>

    <div class="hamburger">
        <i id="ham" class="fa fa-outdent"></i>
    </div>
</header>