<%layout('./layouts/boilerplate') %>

  <section class="landing">
        <%- include('./partials/flash') %>
  
    <p class="welcome"><strong style="font-family: 'Rajdhani', sans-serif;">Experience Tranquil, Embrace Wellness</strong></p>
    <h2 style="font-weight: bolder;">Need Someone to Talk to?</h2>
    <h1 style="font-weight: bolder;">Our Counselors and Listeners Are Standing By</h1>
    <p class="tagline1" style="font-family: 'Source Sans Pro',sans-serif;">Tranquil is an Anonymous, Safe, and Effortless Go-To Feel Better platform that smartly connects you to the right peers and counselors to talk to & feel better.</p>
    <p class="tagline2" style="font-family: Montserrat,sans-serif;">Our mission is to spread over a million smile and make the world happier and healthier.</p>
  </section>

    <section id="slogan">
        <p class="slogan1">Your Smart Go-To Feel Better Platform</p>
        <p class="slogan2">Be yourself & share your real feelings, thoughts, & life stories with peers across the world!
        </p>
    </section>

    <section id="features">
        <div class="feature-box" data-aos="zoom-in">
            <img src="/Images/f1.png" alt="First feature">
            <h4 style="background-color: #fddde4;">Anonymous, Secure, Private</h4>
            <h6>Sharing your personal thoughts just got easier, safer, & fun</h6>
        </div>
        <div class="feature-box" data-aos="zoom-in">
            <img src="/Images/f2.png" alt="Second feature">
            <h4 style="background-color: #cdebbc;">Grow at Your Own Pace</h4>
            <h6>Explore self help guides & growth paths for proven tips and advice on how to feel better</h6>
        </div>
        <div class="feature-box" data-aos="zoom-in">
            <img src="/Images/f3.png" alt="Third feature">
            <h4 style="background-color: #cdd4f8;">Talk to a friend before a therapist</h4>
            <h6>Hang out, share, & grow with smartly matched peers</h6>
        </div>
    </section>
    <section id="features">
        <div class="feature-box" data-aos="zoom-in">
            <img src="/Images/f4.png" alt="Fourth feature">
            <h4 style="background-color: #fddde4;">We're here for teens too</h4>
            <h6>We have listeners available especially for teens, so you can chat confidentially whenever you need to.
            </h6>
        </div>
        <div class="feature-box" data-aos="zoom-in">
            <img src="/Images/f5.png" alt="Fifth feature">
            <h4 style="background-color: #cdebbc;">Affordable Online Therapy</h4>
            <h6>Confidential online therapy & counseling with licensed therapists</h6>
        </div>
        <div class="feature-box" data-aos="zoom-in">
            <img src="/Images/f6.png" alt="Sixth feature">
            <h4 style="background-color: #cdd4f8;">Super-Savvy Intelligence</h4>
            <h6>Keep your mind happy with the right balance of empathy & technology</h6>
        </div>
    </section>
    
 <!-- </section>
    <h1 class="paintheading">Start Here....</h1>
    <section class="banner">
        <div class="container">
            <div class="row ">
              <div class="col-8">
                <div class="card mb-3 paint1">
                  <div class="card-body">
                    <p class="card-text">This is some text for the left card.</p>
                    <a href="#" class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-6">
              <div class="col-7 offset-5">
                <div class="card mb-3 paint2">
                  <div class="card-body ">
                    <p class="card-text d-flex justify-content-end">This is some text for the right card.</p>
                    <a href="#" class="btn btn-primary   d-flex justify-content-end">Button</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </section> -->


  <section id="testimonial">
    
    <div class="thanks d-flex justify-content-center">
        <div class="thanks-text" style="position: relative; top: 2rem;">
            <img src="Images/thanks.png" alt="thanks">
        </div>
    </div>
    <hr style="color:black">
    <div class="quote">
        <div class="comma"><img src="https://www.supportiv.com/wp-content/themes/supportiv/img/home/shape.svg" alt="'">
        <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel" data-mdb-interval="3500">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <p class="d-block w-100"><strong>I feel... genuinely supported</strong></p> 
                    <p class="anonymous">- Always Anonymous</p>
                </div>
                <div class="carousel-item">
                    <p class="d-block w-100"><strong>I feel... more relieved and relaxed about myself</strong></p> 
                    <p class="anonymous">- Always Anonymous</p>
                </div>
                <div class="carousel-item">
                    <p class="d-block w-100"><strong>I feel... understood</strong></p> 
                    <p class="anonymous">- Always Anonymous</p>
                </div>
                <div class="carousel-item">
                    <p class="d-block w-100"><strong>I feel... much calmer than before</strong></p> 
                    <p class="anonymous">- Always Anonymous</p>
                </div>
                <div class="carousel-item">
                    <p class="d-block w-100"><strong>I feel... more motivated and strong</strong></p> 
                    <p class="anonymous">- Always Anonymous</p>
                </div>
                <div class="carousel-item">
                    <p class="d-block w-100"><strong>I feel... lifted and empowered</strong></p> 
                    <p class="anonymous">- Always Anonymous</p>
                </div>
            </div>
           
        </div>
        <img src="https://www.supportiv.com/wp-content/themes/supportiv/img/home/shape-copy.svg'" alt=""></div>
    </div>

    <hr style="color:black">
</section>


<section id="banner" style="margin-bottom: 5%;">
    <div class="banner1" data-aos="fade-up" data-aos-duration="3000">
        <div class="content1">
            <p class="line1">Inspire the World</p>
              <p class="line3"><strong>Our Helpful Community makes you feel happy and contented</strong></p>
              <p class="line2">Here You can create posts, comment on the other users post and click on get inspired to provide them like </p>
              <p class="line3"><strong>Pour Your heart and relate to others.....find people like you</strong></p>
              <button  type="button"   onclick="window.location.href='/feed'" class="btn btn-success button1" id="therapy-button">Visit Inspire </button>
        </div>
    </div>
    
    <div class="banner2" data-aos="fade-up" data-aos-duration="3000">
        <div class="content3">
            <p class="line1">Meet people who understand</p>
            <p class="line3"><strong>You can find support and friendship in chat rooms and forums for many issues, like depression, anxiety, relationships, LGBTQ+ and more.</strong></p>
            <p class="line2">Ask for help, join a scheduled group support session, or share your own wisdom and life experience to help others along the way. We're all in this together.</p>
        <button type="button"  onclick="window.location.href='/chat'" class="btn btn-success buttonerrr" id="therapy-button">Chat Anonymously </button>
        </div>
    </div>

    <div class="banner3" data-aos="fade-up" data-aos-duration="3000">
        <div class="content1">
            <p class="line1">Our Online Therapy</p>
              <p class="line3"><strong>Our confidential online therapy & counseling is available for those aged 18+</strong></p>
              <p class="line3"><strong>Want a little extra help? You can get ongoing support and guidance from a licensed therapist when you sign up for online therapy.</strong></p>
              <button type="button"  onclick="window.location.href='/therapy'" class="btn btn-success buttonerrr" id="therapy-button">Start Online Therapy </button>
        </div>
    </div>

    <div class="banner4" data-aos="fade-up" data-aos-duration="3000">
        <div class="content3">
            <p class="line1">Nurture your mental health, try our Wellness Products</p>
            <p class="line3"><strong>Discover your personal growth and try out our products</strong></p>
            <p class="line2">Each product is highly recommended by out experts and are available in discounted prices</strong></p>
            <button type="button"  onclick="window.location.href='/products'" class="btn btn-success buttonerrr btn-lg" id="therapy-button"> Go to products</button>
        </div>
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1" style="background-image: url('Images/newsletter.png');">
    <div class="newstext">
        <h4>Sign up for Newsletters</h4>
        <p>Mindful moments delivered to your inbox and <span>special offers!</span></p>
    </div>
    
    <form action="/" method="post" class="form">
        <input class="form-control"  type="email" name="email" placeholder="Your email address" required>
        <button class="normal" type="submit" style="height: 50px;">Sign Up</button>
    </form>
</section>

<script>
    // const buttonanimator=()=>{
    //     // var button=document.getElementById("button12");
    //     // console.log('anmol');
    //     // for (let index = 0; index < 300; index++) {
    //     // button.style.marginLeft=`${index}px`
    //     // }
    //     // setTimeout(()=>(window.location.href='/products'),1000);
     
    // }
    
</script>
    
