* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height:100vh;
}

/* .background{
    margin : auto;
    align-items: centre;
    background-image: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    height: 100%;
    position:relative;
    background-size: cover;
    background-repeat : no-repeat;

} */


.expert-banner{
    width: 85%;
    border-radius: 4rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-family: 'Montserrat', sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65%;
    margin-left: 17%;
}


.container {
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0,0, 0,0.2);
    background-color: #ffffff;
    border-color: rgb(255, 255, 255);

    bottom:18%;
    align-items: centre;
    max-width: 40%;
    margin: 0 auto;
    padding: 2rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content : space-evenly;
    align-content : center;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    margin : 0.7rem 0;
    padding: 1rem;
    border-radius: .5rem;
}



